* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.head-advert {
  text-align: center;
  background-color: #233995;
  color: white;
  height: 30px;
  padding-top: 8px;
}

.head-advert p {
  font-size: 10px;
}

.row-head {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e4e5ee;
}

.row-head .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-head .row .link-nav {
  font-size: 12px;
  padding-top: 10px;
}

.row-head .row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-head .row ul li a {
  color: #4c5165;
}

.row-head .row ul li a:hover {
  color: #2cbef8;
}

.row-head .row .icon-adver {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  padding-left: 63px;
  border-right: 1px solid #e4e5ee;
  color: grey;
}

.row-head .row .icon-adver i {
  font-weight: 400;
  font-size: 15px;
}

.row-head .row .info {
  font-size: 12px;
  border-right: 1px solid #e4e5ee;
  color: grey;
  width: 18%;
}

.row-head .row .info a {
  color: #2cbef8;
}

.row-head .row .info a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.row-head .row .info span {
  width: 172px;
  display: inline-block;
}

.row-head .row .currency {
  width: 14%;
}

.row-head .row .currency .dropbtn {
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.row-head .row .currency i {
  font-size: 12px;
  color: grey;
}

.row-head .row .currency .dropdown {
  position: relative;
  display: inline-block;
}

.row-head .row .currency .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.row-head .row .currency .dropdown-content a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.row-head .row .currency .dropdown-content a:hover {
  background-color: white;
  color: #2cbef8;
}

.row-head .row .currency .dropdown:hover .dropdown-content {
  display: block;
}

.row-head .row .currency .dropdown:hover .dropbtn {
  color: #2cbef8;
}

.head-search-modal {
  margin-top: 40px;
}

.head-search-modal .search-basket .grocery {
  font-size: 12px;
  opacity: 0.5;
}

.head-search-modal .search-basket .mdl {
  position: relative;
}

.head-search-modal .search-basket .mdl #modal-btn {
  height: 65px;
  width: 190px;
  background-color: white;
  color: #4b5da9;
  border: 1px solid #afafaf;
  border-radius: 7px;
  margin-top: 5px;
  font-size: 12px;
}

.head-search-modal .search-basket .mdl #modal-btn i {
  position: absolute;
  right: 38px;
  bottom: 30px;
  font-size: 13px;
}

.head-search-modal .search-basket .mdl #modal-btn p {
  line-height: 15px;
  margin-left: -30px;
}

.head-search-modal .search-basket .mdl #modal-btn .select-loc {
  font-weight: 545;
  font-size: 15px;
  color: #303094;
}

.head-search-modal .search-basket .mdl #modal-btn .your-loc {
  margin-left: -70px;
  color: grey;
  opacity: 0.6;
}

.head-search-modal .search-basket .mdl .modal-body {
  overflow: auto;
  height: 400px;
}

.head-search-modal .search-basket .mdl .modal-body input {
  width: 100%;
  height: 50px;
  padding-left: 50px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
  position: relative;
  font-size: 15px;
}

.head-search-modal .search-basket .mdl .modal-body i {
  position: absolute;
  left: 30px;
  top: 35px;
  color: grey;
}

.head-search-modal .search-basket .mdl .modal-body ul {
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}

.head-search-modal .search-basket .mdl .modal-body ul span {
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 10px;
  position: absolute;
  right: 3px;
  border: none;
  height: 35px;
}

.head-search-modal .search-basket .mdl .modal-body ul li {
  line-height: 50px;
  border-bottom: 1px solid grey;
  color: #6b6a6a;
}

.head-search-modal .search-basket .mdl #click {
  border: none;
  background-color: white;
}

.head-search-modal .search-basket .mdl #click span {
  font-size: 25px;
}

.head-search-modal .search-basket .box-search {
  width: 40%;
}

.head-search-modal .search-basket .box-search input {
  padding: 10px;
  position: relative;
  width: 100%;
  background-color: #f3f4f7;
  color: #202435;
  border-color: #f3f4f7;
  border: none;
  height: 70px;
  border-radius: 10px;
}

.head-search-modal .search-basket .box-search input:focus {
  outline-color: grey;
}

.head-search-modal .search-basket .box-search i {
  color: black;
  position: absolute;
  right: 440px;
  font-size: 23px;
  top: 133px;
  cursor: pointer;
}

.head-search-modal .search-basket .user-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  margin-left: 20px;
}

.head-search-modal .search-basket .user-price .user {
  border: 1px solid #b9b9b9;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.head-search-modal .search-basket .user-price .user i {
  margin-left: 16px;
  margin-top: 13px;
  font-size: 20px;
}

.head-search-modal .search-basket .user-price .price {
  padding-top: 13px;
  padding-left: 15px;
}

.head-search-modal .search-basket .user-price .shop {
  background-color: #fff0ed;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
  padding-top: 13px;
  padding-left: 17px;
  margin-right: 70px;
  margin-left: 32px;
  position: relative;
}

.head-search-modal .search-basket .user-price .shop i {
  color: #eb3434;
  font-size: 18px;
}

.head-search-modal .search-basket .user-price .shop .count {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: red;
  right: 0;
  top: 0;
  color: white;
  font-size: 10px;
  text-align: center;
}

.head-search-modal .search-basket .user-price .dropdown {
  position: relative;
  display: inline-block;
}

.head-search-modal .search-basket .user-price .dropdown-content {
  display: none;
  position: absolute;
  right: 90px;
  top: 60px;
  background-color: #f9f9f9;
  min-width: 260px;
  height: 250px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 7px;
}

.head-search-modal .search-basket .user-price .dropdown-content p {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

.head-search-modal .search-basket .user-price .dropdown-content .euro {
  font-size: 12px;
  text-align: center;
}

.head-search-modal .search-basket .user-price .dropdown-content img {
  margin-left: 80px;
  margin-top: 40px;
  width: 90px;
  height: 90px;
}

.head-search-modal .search-basket .user-price .dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-list {
  margin-top: 25px;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu {
  margin-top: 13px;
  width: 270px;
  font-size: 13px;
  color: #4c5165;
  line-height: 30px;
  padding-left: 20px;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu .dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu .dropdown-content {
  display: none;
  position: absolute;
  margin-left: 250px;
  top: 0;
  background-color: white;
  min-width: 270px;
  height: 460px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  line-height: 20px;
  padding-left: 20px;
  border: 1px solid #d6d6d6;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu .dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu i {
  color: #dbdbdb;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .drpdwn-menu a:hover {
  color: #2cbef8;
  background-color: white;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn #list-btn {
  background-color: #2cbef8;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  font-size: 14px;
  position: relative;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn #list-btn:active {
  border: none;
  outline: none;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn .total-63 {
  position: absolute;
  width: 120px;
  height: 20px;
  font-size: 9px;
  border-radius: 20px;
  background-color: #dad8d8;
  text-align: center;
  padding-top: 5px;
  color: #4c5165;
  bottom: -8px;
  left: 35px;
  outline: 0;
  top: 248px;
  right: 45px;
  margin-left: 65px;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn #end {
  color: black;
  font-size: 15px;
}

.dropdown-list .dropdown-hover .all-categories .dropdownbtn #end:hover {
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-list .dropdown-hover .hover-list .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-list .dropdown-hover .hover-list .hover .cl4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-list .dropdown-hover .hover-list .hover .cl4:hover {
  background-color: #f0fafe;
  border-radius: 20px;
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover .cl4 a {
  font-size: 15px;
  margin-top: 3px;
  margin-left: 10px;
  color: black;
  display: inline-block;
  width: 400px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 500;
}

.dropdown-list .dropdown-hover .hover-list .hover .cl4 a:hover {
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover .cl4 i {
  font-size: 15px;
  color: grey;
  margin-top: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dropdown-list .dropdown-hover .hover-list .hover .cl4 i:hover {
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropbtn {
  background-color: white;
  color: black;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 111px;
  height: 35px;
  padding: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  padding-top: 20px;
  margin-top: 2px;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content a:hover {
  background-color: #F9F9F9;
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown:hover .dropdown-content {
  display: block;
  width: 200px;
  padding-left: 20px;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown:hover .dropbtn {
  background-color: #f0fafe;
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropbtn {
  background-color: white;
  color: black;
  margin-top: 5px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 111px;
  height: 35px;
  padding: 0px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropbtn a {
  color: black;
  display: inline-block;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropbtn a:hover {
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 1500px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 12px;
  padding-top: 20px;
  margin-top: 5px;
  margin-left: -530px;
  height: 400px;
  padding-right: 250px;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content1 h6 {
  margin-left: 45px;
  color: #233995;
  cursor: pointer;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content1 h6:hover {
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown-content1 a:hover {
  background-color: #F9F9F9;
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown1:hover .dropdown-content1 {
  display: block;
  width: 200px;
  padding-left: 20px;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown1:hover .dropdown-content1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown1:hover .dropdown-content1 .container ul {
  padding-top: 10px;
  cursor: pointer;
}

.dropdown-list .dropdown-hover .hover-list .hover-drop .dropdown1:hover .dropbtn {
  background-color: #f0fafe;
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .blog-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 15px;
  font-weight: 545;
}

.dropdown-list .dropdown-hover .hover-list .blog-contact .col-5 {
  border-radius: 20px;
  padding-top: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.dropdown-list .dropdown-hover .hover-list .blog-contact .col-5 a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  color: black;
  font-weight: 500;
}

.dropdown-list .dropdown-hover .hover-list .blog-contact .col-5 a:hover {
  color: #2cbef8;
}

.dropdown-list .dropdown-hover .hover-list .blog-contact .col-5:hover {
  background-color: #f0fafe;
  color: #2cbef8;
}

main #slider {
  margin-top: 30px;
}

main #slider .carousel-control-prev-icon {
  background-color: #6d6c6c;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  left: 40px;
}

main #slider .carousel-control-next-icon {
  background-color: #6d6c6c;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  right: 50px;
}

main #slider .content {
  position: absolute;
  top: 70px;
  left: 150px;
}

main #slider .content .exclusive {
  font-size: 12px;
}

main #slider .content #sale {
  background-color: #d3e7d8;
  border-radius: 20px;
  border: none;
  color: green;
  font-size: 13px;
  height: 30px;
  width: 80px;
}

main #slider .content h1 {
  width: 400px;
  font-weight: bold;
  margin-top: 17px;
  font-size: 40px;
  line-height: 55px;
}

main #slider .content .usd-price {
  font-size: 30px;
  color: red;
}

main #slider .content #shop-btn {
  border: none;
  border-radius: 20px;
  background-color: #2cbef8;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 13px;
}

main #slider .content #shop-btn i {
  margin-left: 20px;
}

main #products .products {
  margin-top: 40px;
}

main #products .products div {
  padding: 0;
}

main #products .products .row .big-height {
  height: 300px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

main #products .products .row .big-height .beverages-img {
  width: 230px;
  height: 230px;
}

main #products .products .row .big-height .beverage-item {
  text-align: center;
}

main #products .products .row .big-height .beverage-item p {
  font-size: 12px;
}

main #products .products .row .big-height .beverage-item span {
  font-weight: bold;
}

main #products .products .row .big-col {
  height: 300px;
}

main #products .products .row .big-col .food, main #products .products .row .big-col .drink {
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #products .products .row .big-col .food .col-3, main #products .products .row .big-col .drink .col-3 {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 150px;
}

main #products .products .row .big-col .food .col-3 .all, main #products .products .row .big-col .drink .col-3 .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  margin-left: 30px;
}

main #products .products .row .big-col .food .col-3 .all .biscuits-img, main #products .products .row .big-col .drink .col-3 .all .biscuits-img {
  width: 100px;
  height: 100px;
}

main #products .products .row .big-col .food .col-3 .all .items-biscuits, main #products .products .row .big-col .drink .col-3 .all .items-biscuits {
  margin-top: 20px;
}

main #products .products .row .big-col .food .col-3 .all .items-biscuits span, main #products .products .row .big-col .drink .col-3 .all .items-biscuits span {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  width: 100px;
}

main #products .products .row .big-col .food .col-3 .all .items-biscuits p, main #products .products .row .big-col .drink .col-3 .all .items-biscuits p {
  font-size: 13px;
  margin-top: 10px;
}

main #products .products .row .big-col .drink {
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-right-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #products .products .row .big-col .drink .col-3 {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  height: 150px;
}

main #plugin-productprice .plugin-productprice {
  margin-top: 30px;
}

main #plugin-productprice .plugin-productprice .row .plugin {
  position: relative;
  border: 2px solid red;
  border-radius: 15px;
  height: 730px;
  padding-top: 20px;
}

main #plugin-productprice .plugin-productprice .row .plugin .oclock {
  position: relative !important;
  padding-top: 0;
  margin-left: -200px;
  height: 100px;
  width: 800px;
  zoom: 0.8;
  transform: scale(0.54);
  -ms-transform: scale(0.54);
  -webkit-transform: scale(0.54);
  -o-transform: scale(0.54);
  -moz-transform: scale(0.54);
}

main #plugin-productprice .plugin-productprice .row .plugin .oclock .inn {
  background-color: #ed174a !important;
  color: white !important;
}

main #plugin-productprice .plugin-productprice .row .plugin .strong {
  color: #233995;
  font-size: 20px;
  line-height: 10px;
  margin-top: 20px;
}

main #plugin-productprice .plugin-productprice .row .plugin .offer {
  font-size: 10px;
  color: grey;
}

main #plugin-productprice .plugin-productprice .row .plugin .whey-img {
  width: 270px;
  height: 270px;
  margin-top: 50px;
}

main #plugin-productprice .plugin-productprice .row .plugin .sale {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #ed174a;
  padding: 15px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  top: 223px;
  padding-top: 18px;
}

main #plugin-productprice .plugin-productprice .row .plugin .price .sale1 {
  color: grey;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: bold;
}

main #plugin-productprice .plugin-productprice .row .plugin .price .now-price {
  color: #d41343;
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}

main #plugin-productprice .plugin-productprice .row .plugin .vanilla {
  color: var(--color-text);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 10px;
}

main #plugin-productprice .plugin-productprice .row .plugin .vanilla:hover {
  color: #233995;
}

main #plugin-productprice .plugin-productprice .row .plugin .kq {
  color: grey;
  font-size: 11px;
}

main #plugin-productprice .plugin-productprice .row .plugin .stock {
  color: #00b853;
  font-size: 11px;
  margin-left: 10px;
  font-weight: bold;
}

main #plugin-productprice .plugin-productprice .row .plugin .star i {
  color: #FFCD00;
  font-size: 11px;
}

main #plugin-productprice .plugin-productprice .row .plugin .star .count {
  font-size: 12px;
  margin-left: 5px;
}

main #plugin-productprice .plugin-productprice .row .plugin .end-content .span {
  float: right;
}

main #plugin-productprice .plugin-productprice .row .plugin .end-content .span .available {
  color: grey;
  font-size: 10px;
}

main #plugin-productprice .plugin-productprice .row .plugin .end-content .span .available-count {
  color: #233995;
  font-weight: bold;
}

main #plugin-productprice .plugin-productprice .row .plugin .gradient {
  margin-top: 45px;
}

main #plugin-productprice .plugin-productprice .row .plugin .gradient .gradient-color1 {
  height: 10px;
}

main #plugin-productprice .plugin-productprice .row .plugin .gradient .gradient-color1 .gradient-color {
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(yellow));
  background-image: linear-gradient(red, yellow);
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 20px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .brd {
  border-top-left-radius: 7px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .brd3 {
  border-bottom-right-radius: 7px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .brd2 {
  border-bottom-left-radius: 7px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .brd4 {
  border-top-right-radius: 7px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 {
  border: 1px solid #e4e5ee;
  height: 370px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products {
  margin: 15px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 2s;
  transition: all 2s;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products:hover #add-cart {
  opacity: 1;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products:hover .collapse-icon {
  opacity: 1;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products:hover .collapse-icon:hover {
  background-color: #233995;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products:hover .heart-icon {
  opacity: 1;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products:hover .heart-icon:hover {
  background-color: #233995;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .heart-icon {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #e4e5ee;
  background-color: white;
  opacity: 0;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .heart-icon img {
  color: white;
  margin: 11px;
  width: 20px;
  height: 20px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .collapse-icon {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #e4e5ee;
  background-color: white;
  opacity: 0;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .collapse-icon img {
  color: white;
  margin: 11px;
  width: 20px;
  height: 20px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .percent {
  position: absolute;
  top: 2px;
  width: 43px;
  left: 10px;
  height: 21px;
  background-color: #2cbef8;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding-top: 2px;
  font-size: 12px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .recommended {
  position: absolute;
  top: 2px;
  left: 10px;
  top: 27px;
  width: 100px;
  height: 21px;
  color: white;
  background-color: #71778e;
  text-align: center;
  font-size: 9px;
  border-radius: 4px;
  padding-top: 5px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .organic {
  position: absolute;
  top: 2px;
  left: 10px;
  top: 27px;
  width: 90px;
  height: 21px;
  color: #008e41;
  background-color: #E5F7ED;
  text-align: center;
  font-size: 10px;
  border-radius: 12px;
  padding-top: 4px;
  font-weight: bold;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products #add-cart {
  background-color: #233995;
  width: 200px;
  height: 35px;
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 13px;
  position: absolute;
  bottom: -35px;
  left: 50px;
  text-align: center;
  opacity: 0;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products #add-cart:hover {
  opacity: 1;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .product-img {
  width: 200px;
  height: 200px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .name {
  height: 35px;
  width: 220px;
  color: #202435;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 10px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .name:hover {
  color: #233995;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .stock {
  color: #00b853;
  font-size: 11px;
  font-weight: bold;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .star #sign {
  color: #FFCD00;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .star #sign1 {
  color: #dbdbdb;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .star .count {
  font-size: 12px;
  margin-left: 5px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .price .sale1 {
  color: grey;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: bold;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .price .now-price {
  color: #d41343;
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}

main #plugin-productprice .plugin-productprice .row .card-product .row3 .col-4 .img-products .price .now-price1 {
  color: #d41343;
  font-size: 17px;
  font-weight: bold;
}

main #advert-image .advert-images {
  margin-top: 50px;
}

main #advert-image .advert-images .row6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main #advert-image .advert-images .row6 .col-6 .slider-img1 {
  width: 625px;
  height: 270px;
}

main #advert-image .advert-images .row6 .col-6 .slider-img1 img {
  border-radius: 15px;
  cursor: pointer;
}

main #advert-image .advert-images .row6 .col-6 .content-img1 {
  position: absolute;
  top: 70px;
  left: 40px;
}

main #advert-image .advert-images .row6 .col-6 .content-img1 h6 {
  color: #ff6048;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
}

main #advert-image .advert-images .row6 .col-6 .content-img1 h3 {
  color: #3e445a;
  font-size: 22px;
  font-weight: bold;
  height: 30px;
}

main #advert-image .advert-images .row6 .col-6 .content-img1 p {
  color: #3e445a;
  font-size: 12px;
  height: 20px;
}

main #advert-image .advert-images .row6 .col-6 .content-img1 #shop-now {
  background-color: #233995;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  font-size: 13px;
}

main #advert-image .advert-images .row6 .col-6 .content-img2 {
  position: absolute;
  top: 70px;
  right: 380px;
}

main #advert-image .advert-images .row6 .col-6 .content-img2 h6 {
  color: #ff6048;
  font-size: 13px;
  font-weight: bold;
  height: 20px;
}

main #advert-image .advert-images .row6 .col-6 .content-img2 h3 {
  color: #3e445a;
  font-size: 22px;
  font-weight: bold;
  height: 30px;
}

main #advert-image .advert-images .row6 .col-6 .content-img2 p {
  color: #3e445a;
  font-size: 12px;
  height: 20px;
}

main #advert-image .advert-images .row6 .col-6 .content-img2 #shop-now {
  background-color: #ed174a;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  font-size: 13px;
}

main #advert-image .advert-images .row6 .col-6 .bacola-img {
  width: 625px;
  height: 270px;
}

main #advert-image .advert-images .row6 .col-6 .bacola-img img {
  border-radius: 20px;
}

main #short-content .short-content {
  margin-top: 30px;
}

main #short-content .short-content .row10 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #short-content .short-content .row10 span {
  font-size: 19px;
}

main #short-content .short-content .row10 .end-of-march {
  font-size: 12px;
  color: #bdbdbd;
}

main #short-content .short-content .row10 .view-all {
  position: absolute;
  right: 20px;
  width: 120px;
  height: 30px;
  border: 1px solid #e4e5ee;
  border-radius: 20px;
  padding-left: 30px;
  padding-top: 2px;
  cursor: pointer;
}

main #short-content .short-content .row10 .view-all:hover {
  background-color: white;
}

main #short-content .short-content .row10 .view-all:hover a {
  color: #dbd5d5;
}

main #short-content .short-content .row10 .view-all:hover i {
  color: #dbd5d5;
}

main #short-content .short-content .row10 .view-all a {
  color: grey;
  font-size: 12px;
}

main #short-content .short-content .row10 .view-all a:hover {
  color: #d4d1d1;
}

main #short-content .short-content .row10 .view-all i {
  color: #bbbbbb;
  padding-left: 10px;
}

main #short-content .short-content .row10 .view-all i:hover {
  color: #d4d1d1;
}

main #slide-cart .slide-cart {
  margin-top: 35px;
}

main #slide-cart .slide-cart .slide-card1 {
  position: relative;
}

main #slide-cart .slide-cart .slide-card1 .custom-col-2 {
  width: 259.2px !important;
}

main #slide-cart .slide-cart .slide-card1 .owl-dot {
  display: none;
}

main #slide-cart .slide-cart .slide-card1 .owl-prev {
  position: absolute;
  left: -10px;
  top: 140px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #e4e5ee;
}

main #slide-cart .slide-cart .slide-card1 .owl-next {
  position: absolute;
  right: -10px;
  top: 140px;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #e4e5ee;
}

main #slide-cart .slide-cart .slide-card1 .item {
  cursor: pointer;
  height: 400px;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  border: 1px solid #e4e5ee;
}

main #slide-cart .slide-cart .slide-card1 .item:hover .collapse-icon {
  opacity: 1;
}

main #slide-cart .slide-cart .slide-card1 .item:hover .collapse-icon:hover {
  background-color: #233995;
}

main #slide-cart .slide-cart .slide-card1 .item:hover .heart-icon {
  opacity: 1;
}

main #slide-cart .slide-cart .slide-card1 .item:hover .heart-icon:hover {
  background-color: #233995;
}

main #slide-cart .slide-cart .slide-card1 .item .product-img {
  width: 200px;
  height: 200px;
}

main #slide-cart .slide-cart .slide-card1 .item .percent {
  position: absolute;
  top: 2px;
  width: 43px;
  left: 10px;
  height: 21px;
  background-color: #2cbef8;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding-top: 2px;
  font-size: 12px;
}

main #slide-cart .slide-cart .slide-card1 .item .recommended {
  position: absolute;
  top: 2px;
  left: 10px;
  top: 27px;
  width: 100px;
  height: 21px;
  color: white;
  background-color: #71778e;
  text-align: center;
  font-size: 9px;
  border-radius: 4px;
  padding-top: 5px;
}

main #slide-cart .slide-cart .slide-card1 .item .heart-icon {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #e4e5ee;
  background-color: white;
  opacity: 0;
}

main #slide-cart .slide-cart .slide-card1 .item .heart-icon img {
  color: white;
  margin: 11px;
  width: 20px;
  height: 20px;
}

main #slide-cart .slide-cart .slide-card1 .item .collapse-icon {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #e4e5ee;
  background-color: white;
  opacity: 0;
}

main #slide-cart .slide-cart .slide-card1 .item .collapse-icon img {
  color: white;
  margin: 11px;
  width: 20px;
  height: 20px;
}

main #slide-cart .slide-cart .slide-card1 .item #add-cart {
  background-color: #ffcd00;
  width: 200px;
  height: 35px;
  border: none;
  color: black;
  border-radius: 20px;
  font-size: 13px;
  position: absolute;
  bottom: 15px;
  left: 25px;
  text-align: center;
}

main #slide-cart .slide-cart .slide-card1 .item .name {
  height: 35px;
  width: 220px;
  color: #202435;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 10px;
}

main #slide-cart .slide-cart .slide-card1 .item .name:hover {
  color: #233995;
}

main #slide-cart .slide-cart .slide-card1 .item .stock {
  color: #00b853;
  font-size: 11px;
  font-weight: bold;
}

main #slide-cart .slide-cart .slide-card1 .item .star #sign {
  color: #FFCD00;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

main #slide-cart .slide-cart .slide-card1 .item .star #sign1 {
  color: #dbdbdb;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

main #slide-cart .slide-cart .slide-card1 .item .star .count {
  font-size: 12px;
  margin-left: 5px;
}

main #slide-cart .slide-cart .slide-card1 .item .price .sale1 {
  color: grey;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: bold;
}

main #slide-cart .slide-cart .slide-card1 .item .price .now-price {
  color: #d41343;
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}

main #slide-cart .slide-cart .slide-card1 .item .price .now-price1 {
  color: #d41343;
  font-size: 17px;
  font-weight: bold;
}

main #slide-cart .slide-cart .slide-card1 .item .organic {
  position: absolute;
  top: 2px;
  left: 10px;
  top: 27px;
  width: 90px;
  height: 21px;
  color: #008e41;
  background-color: #E5F7ED;
  text-align: center;
  font-size: 10px;
  border-radius: 12px;
  padding-top: 4px;
  font-weight: bold;
}

main #slide-cart .slide-cart .slide-card1 .item .kq {
  color: grey;
  font-size: 11px;
}

main #short-content-advert .short-content-advert {
  margin-top: 30px;
}

main #short-content-advert .short-content-advert .content-advert {
  background-color: #fbeacf;
  height: 60px;
  padding-top: 20px;
  border-radius: 6px;
  cursor: pointer;
}

main #short-content-advert .short-content-advert .content-advert p {
  text-align: center;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: bold;
}

main #product-details .product-details {
  margin-top: 30px;
}

main #product-details .product-details .details {
  margin-left: 10px;
}

main #product-details .product-details .details .radius1 {
  border-top-left-radius: 10px;
}

main #product-details .product-details .details .radius2 {
  border-bottom-left-radius: 10px;
}

main #product-details .product-details .details .col-4 {
  height: 300px;
  border: 1px solid #e4e5ee;
  width: 20.333333% !important;
}

main #product-details .product-details .details .col-2 {
  width: 19.666667%;
  border: 1px solid #e4e5ee;
  height: 300px;
}

main #product-details .product-details .details .page {
  height: 200px;
  cursor: pointer;
  height: 380px;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
  border: 1px solid #e4e5ee;
}

main #product-details .product-details .details .page:hover #add-cart {
  opacity: 1;
}

main #product-details .product-details .details .page:hover .collapse-icon {
  opacity: 1;
}

main #product-details .product-details .details .page:hover .collapse-icon:hover {
  background-color: #233995;
}

main #product-details .product-details .details .page:hover .heart-icon {
  opacity: 1;
}

main #product-details .product-details .details .page:hover .heart-icon:hover {
  background-color: #233995;
}

main #product-details .product-details .details .page .product-img {
  width: 200px;
  height: 200px;
}

main #product-details .product-details .details .page .percent {
  position: absolute;
  top: 15px;
  width: 43px;
  left: 20px;
  height: 21px;
  background-color: #2cbef8;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding-top: 2px;
  font-size: 12px;
}

main #product-details .product-details .details .page .recommended {
  position: absolute;
  top: 2px;
  left: 10px;
  top: 27px;
  width: 100px;
  height: 21px;
  color: white;
  background-color: #71778e;
  text-align: center;
  font-size: 9px;
  border-radius: 4px;
  padding-top: 5px;
}

main #product-details .product-details .details .page .heart-icon {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #e4e5ee;
  background-color: white;
  opacity: 0;
}

main #product-details .product-details .details .page .heart-icon img {
  color: white;
  margin: 11px;
  width: 20px;
  height: 20px;
}

main #product-details .product-details .details .page .collapse-icon {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 40px;
  border: 1px solid #e4e5ee;
  background-color: white;
  opacity: 0;
}

main #product-details .product-details .details .page .collapse-icon img {
  color: white;
  margin: 11px;
  width: 20px;
  height: 20px;
}

main #product-details .product-details .details .page #add-cart {
  background-color: #233995;
  width: 200px;
  height: 35px;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 13px;
  position: absolute;
  bottom: -2px;
  left: 25px;
  text-align: center;
  opacity: 0;
}

main #product-details .product-details .details .page .name {
  height: 35px;
  width: 217px;
  color: #202435;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 10px;
}

main #product-details .product-details .details .page .name:hover {
  color: #233995;
}

main #product-details .product-details .details .page .stock {
  color: #00b853;
  font-size: 11px;
  font-weight: bold;
}

main #product-details .product-details .details .page .star #sign {
  color: #FFCD00;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

main #product-details .product-details .details .page .star #sign1 {
  color: #dbdbdb;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

main #product-details .product-details .details .page .star .count {
  font-size: 12px;
  margin-left: 5px;
}

main #product-details .product-details .details .page .price .sale1 {
  color: grey;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: bold;
}

main #product-details .product-details .details .page .price .now-price {
  color: #d41343;
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
}

main #product-details .product-details .details .page .price .now-price1 {
  color: #d41343;
  font-size: 17px;
  font-weight: bold;
}

main #product-details .product-details .details .page .organic {
  position: absolute;
  top: 2px;
  left: 10px;
  top: 27px;
  width: 90px;
  height: 21px;
  color: #008e41;
  background-color: #E5F7ED;
  text-align: center;
  font-size: 10px;
  border-radius: 12px;
  padding-top: 4px;
  font-weight: bold;
}

main #product-details .product-details .details .page .kq {
  color: grey;
  font-size: 11px;
}

main #egg-medician-advert .egg-medician-advert {
  margin-top: 50px;
}

main #egg-medician-advert .egg-medician-advert .row .col-4 .img {
  width: 410px;
  height: 210px;
  position: relative;
}

main #egg-medician-advert .egg-medician-advert .row .col-4 .img .content {
  position: absolute;
  top: 40px;
  left: 33px;
}

main #egg-medician-advert .egg-medician-advert .row .col-4 .img .content h6 {
  color: #00b853;
  font-size: 12px;
  height: 20px;
}

main #egg-medician-advert .egg-medician-advert .row .col-4 .img .content span {
  font-weight: bold;
  color: #3e445a;
  font-size: 18px;
  display: inline-block;
  height: 40px;
}

main #egg-medician-advert .egg-medician-advert .row .col-4 .img .content p {
  color: grey;
  font-size: 14px;
}

main #egg-medician-advert .egg-medician-advert .row .col-4 .img .content .shop {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #c2c2d3;
  font-size: 12px;
  width: 100px;
  height: 30px;
}

main #egg-medician-advert .egg-medician-advert .row .col-4 .img img {
  border-radius: 7px;
}

main #cardss .cardss {
  margin-top: 30px;
}

main #cardss .cardss .card-imgg .imageb {
  height: 230px;
}

main #cardss .cardss .card-imgg .imageb img {
  border-radius: 8px;
}

main #cardss .cardss .card-imgg .imageb .tips {
  color: grey;
  font-size: 12px;
  display: inline-block;
  height: 30px;
}

main #cardss .cardss .card-imgg .imageb h2 {
  font-size: 20px;
  font-weight: bold;
  width: 360px;
}

main #cardss .cardss .card-imgg .imageb .date {
  color: grey;
  font-size: 14px;
}

main #cardss .cardss .card-imgg .imageb .commit {
  font-size: 13px;
  font-weight: bold;
}

main #cardss .cardss .card-imgg .imageb .by {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  margin-left: 2px;
}

main #cardss .cardss .card-imgg .imageb .bacola {
  font-size: 17px;
  margin-left: 7px;
}

.first-part-footer {
  margin-top: 280px;
  background-color: #233995;
  width: 100%;
  height: 350px;
}

.first-part-footer .incontainer {
  position: relative;
}

.first-part-footer .incontainer .input-content {
  position: absolute;
  top: 60px;
  left: 100px;
}

.first-part-footer .incontainer .input-content .price-usdd {
  color: #eeeeee;
  font-weight: 100;
  font-size: 17px;
  height: 20px;
}

.first-part-footer .incontainer .input-content h2 {
  color: white;
  height: 40px;
}

.first-part-footer .incontainer .input-content .email-info {
  color: #bbbbbb;
  width: 330px;
  font-size: 13px;
  height: 60px;
  letter-spacing: 1px;
}

.first-part-footer .incontainer .input-content input {
  border: none;
  width: 500px;
  height: 60px;
  border-radius: 3px;
  color: grey;
  font-size: 14px;
  padding-left: 50px;
  position: relative;
}

.first-part-footer .incontainer .input-content #subscribe {
  border: none;
  background-color: #233995;
  color: white;
  position: absolute;
  right: 5px;
  width: 120px;
  height: 50px;
  top: 164px;
  border-radius: 5px;
  font-size: 14px;
}

.first-part-footer .incontainer .input-content i {
  position: absolute;
  left: 15px;
  top: 180px;
  font-size: 18px;
  color: grey;
}

.first-part-footer .incontainer .image-letter {
  position: absolute;
  right: 30px;
  top: 73px;
}

.delivery {
  background-color: #f7f8fd;
}

.delivery .row {
  height: 70px;
  border-bottom: 1px solid #e4e5ee;
  padding-top: 25px;
}

.delivery .row .col-3 .everyday {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #e4e5ee;
}

.delivery .row .col-3 .everyday .fresh {
  margin-left: 10px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.list-footer {
  background-color: #f7f8fd;
  height: 450px;
}

.list-footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
}

.list-footer .row .col-2 h6 {
  color: #202435;
  padding-left: 30px;
  font-size: 15px;
}

.list-footer .row .col-2 li {
  font-size: 14px;
  color: #b7b7bb;
  line-height: 30px;
  cursor: pointer;
}

.contact-apps {
  height: 180px;
}

.contact-apps .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  border-bottom: 1px solid #e4e5ee;
  height: 140px;
}

.contact-apps .row .info-webapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.contact-apps .row .info-webapp .call-working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 10px;
  top: 0;
}

.contact-apps .row .info-webapp .call-working .call-icon {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  border: 1px solid #e4e5ee;
  padding: 14px;
  padding-left: 17px;
  color: grey;
  padding: 10px;
  margin-top: 8px;
}

.contact-apps .row .info-webapp .call-working .contact-working {
  margin-left: 10px;
  padding-top: 10px;
}

.contact-apps .row .info-webapp .call-working .contact-working h3 {
  font-size: 20px;
  font-weight: bold;
  height: 15px;
}

.contact-apps .row .info-webapp .call-working .contact-working span {
  color: grey;
  font-size: 12px;
}

.contact-apps .row .info-webapp .web-application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 610px;
}

.contact-apps .row .info-webapp .web-application .download-content h6 {
  font-weight: bold;
  font-size: 14px;
  height: 10px;
}

.contact-apps .row .info-webapp .web-application .download-content p {
  font-size: 12px;
  color: grey;
}

.contact-apps .row .info-webapp .web-application .img-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 280px;
}

.contact-apps .row .info-webapp .web-application .img-app .play-store {
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.contact-apps .row .info-webapp .web-application .img-app .app-store {
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.contact-apps .row .info-webapp .web-application .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.contact-apps .row .info-webapp .web-application .social-icon .fb, .contact-apps .row .info-webapp .web-application .social-icon .twitter, .contact-apps .row .info-webapp .web-application .social-icon .instagram {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #e4e5ee;
  padding-top: 8px;
  padding-left: 13px;
}

.end-footer .content-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

.end-footer .content-end .copyright {
  font-size: 12px;
  color: grey;
}

.end-footer .content-end .privacy-visa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  cursor: pointer;
}

.end-footer .content-end .privacy-visa .terms-cookies {
  cursor: pointer;
}

.end-footer .content-end .privacy-visa .terms-cookies span {
  font-size: 12px;
  color: grey;
  margin-left: 10px;
}
/*# sourceMappingURL=home.css.map */