<main>

    <section id="transition">

        <div class="first-row">
            <div class="container">
                <div class="transition">
                    <span class="home">HOME</span>
                    <span class="icon">
                        <i class="fa-solid fa-greater-than"></i>
                    </span>

                    <span class="account">CART</span>
                </div>
            </div>
        </div>

    </section>


    <section id="product-price-count">
        <div class="product-price-count">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="product-names">
                            <div class="product">
                                <span>Product</span>
                            </div>

                            <div class="price-quant-subtotal">
                                <div class="price-quant">
                                    <div class="price">
                                        Price
                                    </div>
                                    <div class="quant">
                                        Quantity
                                    </div>
                                </div>

                                <div class="subtotal">
                                    Subtotal
                                </div>
                            </div>
                        </div>

                        <div class="choosen-product">
                            <div class="product-img">
                                <img src="./assets/img/boom chicka.jpeg" alt="" style="width:100%;height:100%">
                            </div>

                            <div class="product-nm">
                                <p>Angie's Boomchickapop Sweet & Salty Kettle Corn</p>
                            </div>

                            <div class="prc">
                                <span>$3.29</span>
                            </div>

                            <div class="count-minus">
                                <div class="minus">
                                    -
                                </div>
                                <div class="count">
                                    1
                                </div>
                                <div class="plus">
                                    +
                                </div>
                            </div>

                            <div class="total">
                                <span>$3.29</span>
                            </div>

                            <div class="x">
                                x
                            </div>

                        </div>

                        <div class="choosen-product">
                            <div class="product-img">
                                <img src="./assets/img/chao.jpeg" alt="" style="width:100%;height:100%">
                            </div>

                            <div class="product-nm">
                                <p>Field Roast Chao Cheese Creamy Original</p>
                            </div>

                            <div class="prc ps-1">
                                <span>$19.50</span>
                            </div>

                            <div class="count-minus ">
                                <div class="minus">
                                    -
                                </div>
                                <div class="count">
                                    1
                                </div>
                                <div class="plus">
                                    +
                                </div>
                            </div>

                            <div class="total">
                                <span>$19.50</span>
                            </div>

                            <div class="x">
                                x
                            </div>

                        </div>

                        <div class="inpt-part">
                            <input type="text" placeholder="Coupon code">
                            <button id="applycoupon">Apply coupon</button>
                            <button id="updatecart">Update cart</button>
                        </div>
                    </div>
                    <div class="col-4">

                        <div class="sales-schedule">
                            <div class="card-total">
                                CART TOTALS
                            </div>
                            <div class="subtotal-price">
                                <div class="subtotal">
                                    Subtotal
                                </div>
                                <div class="price">
                                    $22.79
                                </div>
                            </div>

                            <div class="shipping-schedule">
                                <div class="shipping">
                                    Shipping
                                </div>
                                <div class="radius">
                                    <div class="name-radius">
                                        <div class="select">
                                            <span>Flat rate: <span class="us">$5.00</span> </span>
                                            <input type="radio" id="contactChoice1" name="contact" value="email"
                                                   checked>
                                        </div>
                                        <div class="select">
                                            <span>Free shipping </span>
                                            <input type="radio" id="contactChoice2" name="contact" value="email">
                                        </div>
                                        <div class="select">
                                            <span>Local pickup</span>
                                            <input type="radio" id="contactChoice3" name="contact" value="email">
                                        </div>
                                        <div class="select">
                                            <span>Shipping to <strong>AL</strong> </span>
                                        </div>
                                        <a href="#">Change address</a>
                                    </div>
                                </div>
                            </div>

                            <div class="total-section">
                                <div class="total">
                                    Total
                                </div>
                                <div class="price">
                                    $27.79
                                </div>
                            </div>

                            <div class="check">
                                <button id="chck">Proceed to checkout</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
