
<script src="./assets/js/product.js"></script>
<main>

    <section id="first-row">
        <div class="first-row">
            <div class="container">
                <div class="transition">
                    <span class="home">HOME</span>
                    <span class="icon">
                        <i class="fa-solid fa-greater-than"></i>
                    </span>
                    <span class="home">MEATS & SEAFOOD</span>

                    <span class="icon">
                        <i class="fa-solid fa-greater-than"></i>
                    </span>

                    <span class="account">ALL NATURAL ITALIAN-STYLE CHICKEN MEATBALLS</span>
                </div>
            </div>
        </div>
    </section>

    <section id="product-slide">
        <div class="product-slide">
            <div class="container">
                <div class="row product-about">


                    <div class="incontainer">
                        <h1>All Natural Italian-Style Chicken Meatballs</h1>

                        <div class="brand-star">
                            <div class="cl" style="width: 150px;border-right: 1px solid #e4e5ee;">
                                <span class="brnd">Brands:</span> <span class="brnd-nm">Welch's</span>
                            </div>
                            <div class="cl" style="padding-left:10px;border-right: 1px solid #e4e5ee; width: 220px">
                                <span class="star">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star" id="off"></i>
                                </span>
                                <span class="review">
                                    1 REVIEW
                                </span>
                            </div>
                            <div class="cl" style="padding-left:10px">
                                <span class="mark-name">
                                    SKU:
                                </span>
                                <span class="mark-number">
                                    ZU49VOR
                                </span>
                            </div>
                        </div>

                        <div class="row slide">

                            <div class="col-5">



                                <div class="container">

                                    <div class="percent">
                                        23%
                                    </div>
                                    <div class="recommended">
                                        RECOMMENDED
                                    </div>

                                    <div class="mySlides">

                                        <img src="./assets/img/italian style.jpeg" style="width:100%">
                                    </div>

                                    <div class="mySlides">

                                        <img src="./assets/img/left.jpeg" style="width:100%">
                                    </div>

                                    <div class="mySlides">

                                        <img src="./assets/img/italian style.jpeg" style="width:100%">
                                    </div>

                                    <div class="mySlides">

                                        <img src="./assets/img/left.jpeg" style="width:100%">
                                    </div>

                                    <div class="mySlides">

                                        <img src="./assets/img/left.jpeg" style="width:100%">
                                    </div>

                                    <div class="mySlides">

                                        <img src="./assets/img/behind.jpeg" style="width:100%">
                                    </div>





                                    <div class="caption-container">

                                    </div>

                                    <div class="row">

                                        <div class="column">
                                            <img class="demo cursor" src="./assets/img/italian style.jpeg"
                                                 style="width:100%;height: 100%;" onclick="currentSlide(3)"
                                                 alt="Mountains and fjords">
                                        </div>
                                        <div class="column">
                                            <img class="demo cursor" src="./assets/img/left.jpeg"
                                                 style="width:100%;height: 100%;" onclick="currentSlide(4)"
                                                 alt="Northern Lights">
                                        </div>

                                        <div class="column">
                                            <img class="demo cursor" src="./assets/img/behind.jpeg"
                                                 style="width:100%;height: 100%;" onclick="currentSlide(6)"
                                                 alt="Snowy Mountains">
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="col-4">
                                <div class="price">
                                    <span class="prev" style="text-decoration: line-through;">
                                        $9.35
                                    </span>
                                    <span class="now">
                                        $7.25
                                    </span>
                                </div>

                                <div class="instock">
                                    <button id="btn-stock">IN STOCK</button>
                                </div>

                                <div class="content">
                                    <p>
                                        Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada
                                        tincidunt. Class aptent taciti sociosqu ad litora torquent
                                    </p>
                                </div>

                                <div class="inc-dec">
                                    <div class="minus">
                                        -
                                    </div>

                                    <div class="count">
                                        1
                                    </div>

                                    <div class="plus">
                                        +
                                    </div>
                                    <button id="add">Add to cart</button>
                                </div>

                                <div class="icon-heart">
                                    <div class="wish">
                                        <span class="icon">
                                            <i class="fa-solid fa-heart"></i>
                                        </span>
                                        <span class="icon-content">
                                            ADD TO WISHLIST
                                        </span>
                                    </div>

                                    <div class="compare">
                                        <span class="icn">
                                            <i class="fa-solid fa-arrow-up-long"></i>
                                            <i class="fa-solid fa-arrow-down-long"></i>
                                        </span>
                                        <span class="cmpr">
                                            COMPARE
                                        </span>
                                    </div>

                                </div>

                                <div class="check">
                                    <div class="short-check">
                                        <i class="fa-solid fa-check"></i>
                                        <span>
                                            Type: Organic
                                        </span>
                                    </div>
                                    <div class="short-check">
                                        <i class="fa-solid fa-check"></i>
                                        <span>
                                            MFG: Jun 4.2021
                                        </span>
                                    </div>
                                    <div class="short-check">
                                        <i class="fa-solid fa-check"></i>
                                        <span>
                                            LIFE: 30 days
                                        </span>
                                    </div>
                                </div>

                                <div class="category-tags">
                                    <div class="food">
                                        <span class="category">
                                            Category:
                                            <span class="category-nm">
                                                Meats & Seafood
                                            </span>
                                        </span>
                                    </div>

                                    <div class="food">
                                        <span class="category">
                                            Tags:
                                            <span class="category-nm">
                                                chicken, natural, organic
                                            </span>
                                        </span>
                                    </div>

                                </div>

                                <div class="social-network">
                                    <div class="fb a">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </div>
                                    <div class="vk a">
                                        <i class="fa-brands fa-twitter"></i>
                                    </div>
                                    <div class="pnt a">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </div>
                                    <div class="lnk a">
                                        <i class="fa-brands fa-linkedin-in"></i>
                                    </div>
                                    <div class="dscrd a">
                                        <i class="fa-brands fa-reddit"></i>
                                    </div>
                                    <div class="vp a">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </div>
                                </div>

                            </div>

                            <div class="col-3">
                                <div class="cvd-19">
                                    Covid-19 Info: We keep delivering.
                                </div>

                                <div class="short-advert-info">
                                    <div class="short-advert">
                                        <div class="delivery-car">
                                            <span class="icon">
                                                <i class="fas fa-truck"></i>
                                            </span>
                                            <span class="info">
                                                Free Shipping apply to all orders over $100
                                            </span>
                                        </div>

                                        <div class="delivery-car">
                                            <span class="icon">
                                                <i class="fas fa-prescription-bottle"></i>
                                            </span>
                                            <span class="info">
                                                Guranteed 100% Organic from natural farmas
                                            </span>
                                        </div>

                                        <div class="delivery-car">
                                            <span class="icon">
                                                <i class="fas fa-dollar-sign"></i>
                                            </span>
                                            <span class="info">
                                                1 Day Returns if you change your mind
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                </div>
            </div>
    </section>

    <section id="commit-tab-info">
        <div class="commit-tab-info">
            <div class="container">
                <div class="form">
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'London')">DESCRIPTION</button>
                        <button class="tablinks" onclick="openCity(event, 'Paris')" id="additional">ADDITIONAL INFORMATION</button>
                        <button class="tablinks" onclick="openCity(event, 'Tokyo')">REVIEWS (1)</button>
                    </div>

                    <div id="London" class="tabcontent" style="height: 260px;">
                        <p class="cntnt">
                            Quisque varius diam vel metus mattis, id aliquam diam rhoncus. Proin vitae magna in dui finibus malesuada et at nulla. Morbi elit ex, viverra vitae ante vel, blandit feugiat ligula. Fusce fermentum iaculis nibh, at sodales leo maximus a. Nullam ultricies sodales nunc, in pellentesque lorem mattis quis. Cras imperdiet est in nunc tristique lacinia. Nullam aliquam mauris eu accumsan tincidunt. Suspendisse velit ex, aliquet vel ornare vel, dignissim a tortor.
                        </p>
                        <p>Morbi ut sapien vitae odio accumsan gravida. Morbi vitae erat auctor, eleifend nunc a, lobortis neque. Praesent aliquam dignissim viverra. Maecenas lacus odio, feugiat eu nunc sit amet, maximus sagittis dolor. Vivamus nisi sapien, elementum sit amet eros sit amet, ultricies cursus ipsum. Sed consequat luctus ligula. Curabitur laoreet rhoncus blandit. Aenean vel diam ut arcu pharetra dignissim ut sed leo. Vivamus faucibus, ipsum in vestibulum vulputate, lorem orci convallis quam, sit amet consequat nulla felis pharetra lacus. Duis semper erat mauris, sed egestas purus commodo vel.</p>



                    </div>

                    <div id="Paris" class="tabcontent">
                        <div class="brand-welch">
                            <div class="brand">
                                Brands
                            </div>
                            <div class="brand">
                                Welch's
                            </div>
                        </div>
                    </div>

                    <div id="Tokyo" class="tabcontent">

                        <div class="rating-commit">
                            <h2>1 REVIEW FOR ALL NATURAL ITALIAN-STYLE CHICKEN MEATBALLS</h2>

                            <div class="women-commit">
                                <div class="wmn-img">
                                    <img src="./assets/img/women.jpeg" alt="" style="width:100%;height:100%">
                                </div>

                                <div class="commt">
                                    <div class="star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star" style="color:rgb(194, 194, 211)"></i>
                                    </div>

                                    <div class="admin">
                                        <span class="admn">
                                            admin -
                                        </span>
                                        <span class="date">
                                            May 1, 2021
                                        </span>
                                    </div>

                                    <div class="words">
                                        Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                    </div>




                                </div>
                            </div>

                            <div class="add-revieww">
                                Add a review
                            </div>

                            <div class="published">
                                Your email address will not be published. Required fields are marked *
                            </div>
                            <div class="rtg">
                                <span class="rating">
                                    Your rating *
                                </span>
                            </div>


                            <div class="star">
                                <div class="one">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="two">
                                    <i class="fas fa-star" id="a"></i>
                                    <i class="fas fa-star" id="a"></i>
                                </div>
                                <div class="three">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="four">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="five">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>

                            </div>

                            <div class="your-review">
                                Your review *
                            </div>

                            <div class="text-area">
                                <textarea id="story" name="story" rows="5" cols="33">
                                        
                                    </textarea>
                            </div>

                            <div class="name">
                                Name *
                            </div>

                            <input type="text" id="nma">


                            <div class="name">
                                Email *
                            </div>

                            <input type="text" id="nma">


                            <p><input type="checkbox" id="chk">Save my name, email, and website in this browser for the next time I comment. </p>

                            <button id="submit-btn">Submit</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="end-main">
        <div class="end-main">
            <div class="container">
                <div class="recently-content">
                    <h4>RELATED PRODUCTS</h4>
                </div>

                <div class="row end-advert">

                    <div class="col-3 brd">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/potatoes.jpeg" alt="" width="100%" ; height="100%">
                                </div>
                                <div class="percent">
                                    19%
                                </div>


                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>

                                <button id="add-cart">Add to cart</button>
                                <p class="name">Tomatoes on the Vine</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">
                                    <span class="now-price">$1.08-</span>
                                    <span class="now-price">$4.32</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-3 ">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/a.jpeg" alt="" width="100%" ; height="100%">
                                </div>

                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>
                                <button id="add-cart">Add to cart</button>
                                <p class="name">Organic 100% Grassfed 85_15 Ground Beef</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">

                                    <span class="now-price">$5.99</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/kreatin.jpeg" alt="" width="100%" ; height="100%">
                                </div>
                                <div class="percent">
                                    26%
                                </div>
                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>
                                <button id="add-cart">Add to cart</button>
                                <p class="name" style="width: 260px;">Warrior Blend Organic</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">
                                    <span class="sale1">$39.99</span>
                                    <span class="now-price">$29.99</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/meatss.jpeg" alt="" width="100%" ; height="100%">
                                </div>
                                <div class="percent">
                                    38%
                                </div>
                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>
                                <button id="add-cart">Add to cart</button>
                                <p class="name" style="width: 250px;">USDA Choice Angus Beef Stew Meat</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">
                                    <span class="sale1">$79.00</span>
                                    <span class="now-price">$49.00</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="end-main">
        <div class="end-main">
            <div class="container">
                <div class="recently-content">
                    <h4>RECENTLY VIEWED PRODUCTS</h4>
                </div>

                <div class="row end-advert">

                    <div class="col-3 brd">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/italian style.jpeg" alt="" width="100%" ; height="100%">
                                </div>
                                <div class="percent">
                                    23%
                                </div>
                                <div class="recommended">
                                    RECOMMENDED
                                </div>

                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>

                                <button id="add-cart">Add to cart</button>
                                <p class="name">All Natural Italian-Style Chicken Meatballs</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">
                                    <span class="sale1">$9.35</span>
                                    <span class="now-price">$7.25</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-3 ">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/chao.jpeg" alt="" width="100%" ; height="100%">
                                </div>
                                <div class="percent">
                                    19%
                                </div>
                                <div class="organic">
                                    ORGANIC
                                </div>
                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>
                                <button id="add-cart">Add to cart</button>
                                <p class="name">Field Roast Chao Cheese Creamy Original</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">
                                    <span class="sale1">$24.00</span>
                                    <span class="now-price">$19.50</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/meatss.jpeg" alt="" width="100%" ; height="100%">
                                </div>
                                <div class="percent">
                                    38%
                                </div>
                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>
                                <button id="add-cart">Add to cart</button>
                                <p class="name" style="width: 260px;">USDA Choice Angus Beef Stew Meat</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">
                                    <span class="sale1">$79.99</span>
                                    <span class="now-price">$49.99</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-3">
                        <div class="img-products">

                            <div class="container">
                                <div class="product-img">
                                    <img src="./assets/img/kreatin.jpeg" alt="" width="100%" ; height="100%">
                                </div>
                                <div class="percent">
                                    26%
                                </div>
                                <div class="heart-icon">
                                    <img src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                                </div>
                                <div class="collapse-icon">
                                    <img src="https://img.icons8.com/ios-glyphs/30/000000/collapse.png" />
                                </div>
                                <button id="add-cart">Add to cart</button>
                                <p class="name" style="width: 250px;">Warrior Blend Organic</p>


                                <span class="stock">IN STOCK</span>

                                <div class="star">
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <i class="fa-solid fa-star" id="sign1"></i>
                                    <span class="count">1</span>
                                </div>

                                <div class="price">
                                    <span class="sale1">$39.00</span>
                                    <span class="now-price">$29.00</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


</main>