<main>

    <div class="all-blog">
        <div class="container">
            <div class="row">
                <div class="col-9">


                    <div class="img-acqua">
                        <img src="./assets/img/blog-3.jpeg" alt="" style="width:100%; height:100%">
                    </div>
                    <div class="date-save-share">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span class="date">May 3, 2021</span>
                        <i class="fa-solid fa-bookmark"></i>
                        <span class=tips>Tips & Tricks</span>
                        <i class="fa-solid fa-pills"></i>
                        <span class="food">food, store, themeforest</span>

                    </div>
                    <h1 class="title-content">But I must explain to you how all this mistaken idea</h1>
                    <p class="sem">Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
                    <button id="btn-readmore">Read More</button>



                    <div class="img-acqua mt-5">
                        <img src="./assets/img/pergale.jpeg" alt="" style="width:100%; height:100%">
                    </div>
                    <div class="date-save-share mt-5">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span class="date">May 3, 2021</span>
                        <i class="fa-solid fa-bookmark"></i>
                        <span class=tips>Tips & Tricks</span>
                        <i class="fa-solid fa-pills"></i>
                        <span class="food">food, store, themeforest</span>

                    </div>
                    <h1 class="title-content">But I must explain to you how all this mistaken idea</h1>
                    <p class="sem mt-2">Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
                    <button id="btn-readmore">Read More</button>



                    <div class="img-acqua mt-5">
                        <img src="./assets/img/ice.jpeg" alt="" style="width:100%; height:100%">
                    </div>
                    <div class="date-save-share mt-5">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span class="date">May 3, 2021</span>
                        <i class="fa-solid fa-bookmark"></i>
                        <span class=tips>Tips & Tricks</span>
                        <i class="fa-solid fa-pills"></i>
                        <span class="food">food, store, themeforest</span>

                    </div>
                    <h1 class="title-content">But I must explain to you how all this mistaken idea</h1>
                    <p class="sem mt-2">Pellentesque feugiat, sem id interdum molestie, libero nibh imperdiet velit, sodales elementum enim sem sed lectus. Vivamus viverra diam congue tristique pellentesque. Proin efficitur est vel lectus ultrices rhoncus eu ut lacus. In gravida leo at justo lobortis, vitae aliquet justo vehicula. Maecenas at facilisis ex. Curabitur cursus, ex id efficitur ultrices, sapien mauris sodales</p>
                    <button id="btn-readmore">Read More</button>

                    <div class="pagination">
                        <div class="one">1</div>
                        <div class="two">2</div>
                        <span class="greater">></span>
                    </div>


                </div>


                <div class="col-3">


                    <input type="text" placeholder="Search..." id="search">
                    <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>

                    <p class="popular">POPULAR POSTS</p>

                    <div class="advert-div">
                        <div class="count">
                            1
                        </div>
                        <div class="count2">
                            2
                        </div>
                        <div class="count3">
                            3
                        </div>
                        <div class="row1">
                            <div class="imgall">
                                <div class="img1">
                                    <img src="./assets/img/blog-3.jpeg" alt="" style="width:100%; height:100%">
                                </div>
                            </div>

                            <div class="content">
                                <h6> But I must explain to you how all this mistaken idea</h6>
                            </div>
                        </div>

                        <div class="row1 mt-4">
                            <div class="imgall">
                                <div class="img1">
                                    <img src="./assets/img/gale.jpeg" alt="" style="width:100%; height:100%">
                                </div>
                            </div>

                            <div class="content">
                                <h6>The Problem With Typefaces on the Web</h6>
                            </div>
                        </div>

                        <div class="row1 mt-4">
                            <div class="imgall">
                                <div class="img1">
                                    <img src="./assets/img/iceee.jpeg" alt="" style="width:100%; height:100%">
                                </div>
                            </div>

                            <div class="content">
                                <h6>English Breakfast Tea With Tasty Donut Desserts</h6>
                            </div>
                        </div>

                    </div>

                    <h4 class="media">SOCIAL MEDIA</h4>

                    <div class="acces-social">
                        <div class="fb">
                            <i class="fa-brands fa-facebook-f"></i>
                            <span class="facebook">FACEBOOK</span>
                        </div>
                        <div class="tw">
                            <i class="fa-brands fa-twitter"></i>
                            <span class="twitter">TWITTER</span>
                        </div>
                        <div class="pint">
                            <i class="fa-brands fa-pinterest-p"></i>
                            <span class="pinterest">PINTEREST</span>
                        </div>
                        <div class="linke">
                            <i class="fa-brands fa-linkedin-in"></i>
                            <span class="linkedin">LINKEDIN</span>
                        </div>
                        <div class="reddit">
                            <i class="fa-brands fa-reddit"></i>
                            <span class="reddit">REDDIT</span>
                        </div>
                    </div>

                    <h5 class="widget">WIDGET BANNER</h5>

                    <div class="gif-img">
                        <img src="./assets/img/gif.gif" alt="" style="width:100%;height:100%">
                    </div>

                    <h6 class="tag">TAGS</h6>
                    <span class="envato">envato</span>
                    <span class="envato">food</span>
                    <span class="envato">fresh</span>
                    <span class="envato">grocery</span>
                    <span class="envato">organic</span>
                    <span class="envato">quality</span>
                    <span class="envato">store</span>
                    <span class="envato">themeforest</span>

                </div>
            </div>
        </div>
    </div>



</main>
